# Happy {{day}}! ✨ I'm Ali.

I'm a software engineer with a passion for social good and a Master's degree in [computer science and public 
policy](https://capp.uchicago.edu/). I was a data professional for over four years but am now committed to 
using my coding skills to engineer mission-driven, human-centered software.

I'm currently working at the MIT Media Lab's [Center for Constructive Communication](http://www.ccc.mit.edu), deploying long-running 
research prototypes that people can put to use in real-world contexts.

## 🛠 Tech Stack

### 💬 Languages

![Python](https://img.shields.io/badge/-Python-000?&logo=Python) &nbsp;
![HTML5](https://img.shields.io/badge/-HTML-000?&logo=HTML5) &nbsp;
![CSS](https://img.shields.io/badge/-CSS-000?&logo=css3&logoColor=2860E5) &nbsp;
![JavaScript](https://img.shields.io/badge/-JavaScript-000?&logo=JavaScript) &nbsp;
![C++](https://img.shields.io/badge/-C++-000?&logo=c%2b%2b&logoColor=6092C7) &nbsp;
![Java](https://img.shields.io/badge/-Java-000?&logo=openjdk&logoColor=DB6900) &nbsp;
![R](https://img.shields.io/badge/-R-000?&logo=r&logoColor=2065B4) &nbsp;
![Scala](https://img.shields.io/badge/-Scala-000?logo=scala&logoColor=D43121) &nbsp;
![SQL](https://img.shields.io/badge/-SQL-000?&logo=MySQL&logoColor=0173CB)

### 🚀 Technologies

![Node.js](https://img.shields.io/badge/-Node.js-000?&logo=node.js) &nbsp;
![React](https://img.shields.io/badge/-React-000?&logo=react) &nbsp;
![Flask](https://img.shields.io/badge/-Flask-000?&logo=flask) &nbsp;
![PostgreSQL](https://img.shields.io/badge/-PostgreSQL-000?&logo=PostgreSQL) &nbsp;
![AWS](https://img.shields.io/badge/-Amazon_AWS-000?&logo=amazonaws&logoColor=F79402) &nbsp;
![GoogleCloud](https://img.shields.io/badge/-Google_Cloud-000?&logo=google-cloud) &nbsp;
![GoogleColab](https://img.shields.io/badge/-Colab-000?&logo=google-colab) &nbsp;
![Pycharm](https://img.shields.io/badge/-PyCharm-000?&logo=pycharm&logoColor=20CC86) &nbsp;
![VSCode](https://img.shields.io/badge/-VSCode-000?&logo=visual%20studio%20code&logoColor=0173C1) &nbsp;
![Git](https://img.shields.io/badge/-GIT-000?&logo=git) &nbsp;


## 🤝 Find Me On

&nbsp;
&nbsp;
<a href="https://github.com/aliklemencic" rel="nofollow"><img alt="Github" src="https://img.shields.io/badge/-GitHub-000?logo=github" style="max-width: 100%;"></a>
&nbsp;
&nbsp;
<a href="https://www.linkedin.com/in/alisonklemencic" rel="nofollow"><img alt="LinkedIn" src="https://img.shields.io/badge/-LinkedIn-000?&logo=linkedin&logoColor=036DAA" style="max-width: 100%;"></a>
&nbsp;
&nbsp;
<a href="mailto:alisonklemencic@gmail.com" rel="nofollow"><img alt="Gmail" src="https://img.shields.io/badge/-Gmail-000?logo=gmail&logoColor=DE4032" style="max-width: 100%;"></a>